/*
  colors pulled from Tomorrow Night
  https://github.com/chriskempson/tomorrow-theme
*/

.kw0, .operator {
  color: #eab700;
}
.identifier {
  color: #efefef;
}
.kw1, .regex, .command-substitution, .template-expr {
  color: #ffcc66;
}
.kw2, .open-square, .close-square, .open-curly, .close-curly,
.area-comment, .area-comment-continue, .line-comment,
.open-paren, .close-paren {
  color: #eab700;
}
.number, .quote, .single-quote, .double-quote, .char,
.template-string, .heredoc {
  color: #99cc99;
}
.directive, .shebang, .variable {
  color: #99cc99;
}
