.code-block {
	margin: -1.2em 0 0 0;

	grid-area: code;
	background: #2e2e2e;
	color: white;
	padding: 1em 1.5em 3em 1.5em;
}

.code-block {
	overflow: auto;
	scrollbar-width: 5px; /* Firefox */
}
.code-block::-webkit-scrollbar {
	display: none;
}

.code-block-code {
	margin: 0;
	font-size: 0.8em;
	font-family: 'Source Code Pro', monospace;
}
