.nav-bar {
	display: flex;
  flex-wrap: nowrap;
	margin-bottom: 0.8em;
	grid-area: links;
  align-items: baseline;
  padding-left: 0.5em;
}

/* mobile */
@media only screen and (max-width: 700px) {
  .nav-bar {
		flex-wrap: wrap;
  }
}
