
/* this css matches that in section-header */
.section-container {
	display: grid;
  font-size: 1em;
  grid-template-columns: auto 1fr 1fr auto;
  column-gap: 1.5em;
  grid-template-areas:
    ". text code code";
}

/* mobile */
@media only screen and (max-width: 700px) {
  .section-container {
    grid-template-columns: 1fr;
    row-gap: 1em;
    grid-template-areas:
    ". .    ."
    ". text ."
    "code code code";
  }
}
