
.section-container {
	display: grid;
  font-size: 1em;
  grid-template-columns: minmax(1em, calc(50% - 1em)) 26em 37em minmax(2em, calc(50% - 2em));
  grid-column-gap: 1.5em;
  grid-template-areas:
    ". header code-spacer ."
    ". text   code        .";
}