/*
  colors pulled from Tomorrow Night
  https://github.com/chriskempson/tomorrow-theme
*/

.identifier {
  color: #efefef;
}
.kw0, .operator, .template-expr {
  color: #eab700;
}
.kw1, .regex, .command-substitution {
  color: #81a2be;
}
.kw2 {
  color: #81a2be;
}
.open-square, .close-square, .open-curly, .close-curly,
.area-comment, .area-comment-continue, .line-comment,
.open-paren, .close-paren {
  color: #b294bb;
}
.number, .quote, .single-quote, .double-quote, .char,
.template-string, .heredoc {
  color: #99cc99;
}
.directive, .shebang, .variable {
  color: #99cc99;
}
