body {
	margin: 0;
	background: #fff8dd;
	color: #2e2e2e;
	font-family: 'Poppins', sans-serif;
}

#intro-section {
	background: #fff8dd;
}

#features-section {
	background: #deffdd;
}

#install-section {
	background: #ffdddd;
}

#concepts-section {
	background: #ecddff;
}

#api-section {
	background: #d1ebff;
}

.section-page {
	padding: 2.5em 0;
}

p {
	margin-block: 0;
}
