body {
	margin: 0;
	background: #FFF8DD;
	color: #2E2E2E;
	font-family: 'Poppins', sans-serif;
}

#intro-section {
	background: #FFF8DD
}

#features-section {
	background: #deffdd;
}

#install-section {
	background: #ffdddd;
}

#concepts-section {
	background: #ecddff;
}

#api-section {
	background: #D1EBFF;
}

.section-page {
	padding: 2.5em 0;
}

p {
  margin-block: 0;
}
